apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: kube-system
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service.kube-system.svc.cluster.local:8080
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.kube-system.svc.cluster.local:3100
        jsonData:
          maxLines: 1000
