# Kubernetes Secrets (CRITICAL: DO NOT PUSH)
k8s/secrets.yaml

# Local Python Environment
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Local Logs / Output
*.log
/output/

# Docker Local State
external-db/pgdata/

# OS Files
.DS_Store
Thmubs.db
